<div class="nowplayingcard">
	<div class="nowplayingcontainer-inner">
		<img id="trackart" src="#">
		<div class="trackInfo">
			<a id="tracktitle"></a>
			<a href="#" id="trackartist"></a>
		</div>
	</div>
</div>
