---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Big+Shoulders+Display&family=IBM+Plex+Mono:ital@0;1&family=Major+Mono+Display&family=Montserrat:wght@300&family=Raleway&family=Righteous&family=Zilla+Slab&display=swap');

/* system typefaces */
$serif: "Zilla Slab", Times, serif !default;
$sans-serif: "Montserrat", "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: "IBM Plex Mono", Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;
$montserrat: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;
$zillaslab: "Zilla Slab", serif;

/* mono typefaces */
$ibmmono: "IBM Plex Mono", monospace;
$majormono: "Major Mono Display", monospace;

/* cursive typefaces */
$audiowide: "Audiowide", cursive;
$bigshoulders: "Big Shoulders Display", cursive;
$righteous: "Righteous", cursive;

$global-font-family: $sans-serif !default;
$header-font-family: $righteous !default;
$caption-font-family: $serif !default;

.page__hero-caption {
  font-family: $raleway;
}

/* Header typeface overrides */
h1 {
  font-family: $audiowide;
}

h2 {
  font-family: $raleway;
}

h3 {
  font-family: $raleway;
}

/* ------------------------------------------
      colour overrides                 */

/* Theme color override */
$primary-color: rgb(105, 80, 161);

/*  syntax highlighting (base16) */
$base00: #2D3039;
$base01: #474247;
$base02: #656066;
$base03: #847E85;
$base04: #A29DA3;
$base05: #C1BCC2;
$base06: #E0DCE0;
$base07: #F7F7F7;
$base08: #CC3333;
$base09: #F37735;
$base0a: #FFCC00;
$base0b: #66CC00;
$base0c: #009999;
$base0d: #0099CC;
$base0e: #6950A1;
$base0f: #cc33cc;

/* ------------------------------------------
      LastFM widget style                 */

/* last-fm now playing widget */
$widgetFontfamily: $audiowide;
$widgetFontsize: 13px;
$widgetBorderRadius: 3px;

@mixin border-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -o-border-top-left-radius: $radius;
  border-top-left-radius: $radius;

  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  -o-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

body {
  padding: 0;
  margin: 0;

  .nowplayingcard {
    min-width: 300px;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: $widgetFontfamily;
    font-size: $widgetFontsize;

    .nowplayingcontainer-inner {
      width: 100%;
      background-color: rgb(37, 42, 52);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      display: inline-block;
      @include border-left-radius($widgetBorderRadius);

      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      img#trackart {
        max-width: 30%;
        float: left;
        left: 0;
        @include border-left-radius($widgetBorderRadius);
      }

      .trackInfo {
        width: 70%;
        float: left;
        display: block;

        a {
          max-width: 90%;
          display: block;
          font-size: 14px;
          text-align: left;
          text-decoration: none;
          vertical-align: middle;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:nth-child(odd) {
            img {
              width: 15px;
              height: 15px;
              vertical-align: middle;
              margin: -2% 3px 0 0;
            }

            color: white;
            font-weight: normal;
            vertical-align: middle;
            line-height: 15px;
            letter-spacing: 0.2px;
            padding: 10% 0 0 5%;
          }

          &:nth-child(even) {
            img {
              width: 15px;
              height: 15px;
              vertical-align: middle;
              margin: -2% 3px 0 0;
            }

            color: gray;
            font-size: $widgetFontsize - 1px;
            letter-spacing: 0.1px;
            padding: 5% 0 0 5%;
          }
        }
      }
    }
  }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
